<div class="card">
  <div class="card-header">
    Add new Question
  </div>
  <div class="card-body">
    <form (submit)="addQuestion()">

      <div class="form-group">
        <label for="text">Type Question Text</label><br>
        <input type="text" class="from-control" [(ngModel)]="text" name="text">
      </div>
      <div class="form-group">
        <label for="text">Type Question Answer</label><br>
        <input type="text" class="from-control" [(ngModel)]="answer" name="answer">
      </div>
      <input type="submit" class="btn btn-primary" value="Submit">


    </form>
  </div>
</div>